.main-card--cointainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
  background-color: Black;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}
.card-container img {
  max-width: 100%;
  height: 163px;
  box-shadow: 6px 6px #ffc107;
  margin-bottom: 19px;
  /* border-radius: 32px; */
}

.card {
  background-color: black;
  padding: 11px 10px 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  /* font-family: "Cormorant Garamond", serif; */
  font-size: 36px;
  font-weight: 300;
  line-height: 31px;
  margin: 10px 0;
  text-transform: capitalize;
  color: white;
}

.card-description {
  font-weight: 200;
  line-height: 17px;
  margin: 10px 0;
  color: white;
}

.card-price {
  color: white;
  font-size: 39px;
}

.card-tag {
  float: right;
  width:50%;
  margin: 5px auto;
  /* border: 3px solid #aaa; */
  padding: 4px 10px;
  cursor: pointer;
  /* width: max-content; */
  background: #db1010;
  padding: 2%;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  color: white;
  box-shadow: 3.5px 4px #ffc107;
}

.card-tag:hover {
  background: #ffc107;
  color: black;
  box-shadow: 3.5px 4px #f22121;
}

.card-media {
  max-width: 100%;
  height: auto;
}

@media (max-width: 998px) {
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
}
