.contact-container{
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.contact-form form{
    width: 100%;
}

.contact-form .row{
    width: 100%;
    display: flex;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100{
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea{
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea{
    height: 150px;
}

.contact-form .row input[type="submit"]{
    background-color: var(--secondary-color);
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.contact-info{
    width: 350px;
    background: #f9f9f9;
    padding: 60px 40px 20px;
}

.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;   
}

.contact-info .info-box .contact-icon{
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4{
    color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a{
    color: #111;
}

.n-bar{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .n-bar img{
    width: 20px;
    height: 20px;
  }
  .n-bar a{
    color: black;
  }